@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');

* {
    font-family: 'Noto Sans Bengali', sans-serif;
}



.mynav a:hover {
    color: white;
}

.mynav li {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    padding: 13px;


}


.mynav li:hover {
    background-color: blue;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 900;

}


.navbar-brand {
    margin-left: 20px;
}

/* .sectionTwo{
    background-color: #dfe6e9;
} */

.card-title {
    font-weight: bolder;
    text-align: center;
}

.btn {
    margin-left: 10px;
    width: 140px;
}

#button1 {
    margin-left: 50px;
}

#button2 {
    margin-left: 50px;
}

#button3 {
    margin-left: 50px;
}

#button4 {
    margin-left: 50px;
}

.card {
    transition: .4s;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    background-color: #34495e;
    color: white;
    position: static;
}

.carousel-item img {
    /* height: 500px; */
    height: 900px;
    width: 100px;
}

.carousel-item {
    height: 900px;
}

#subscribe {
    background-color: aqua;
    padding: 100px;

}

#Sbutton {
    border: none;
    padding: 20px;
}

#Semail {
    border: none;
    padding: 20px;
}

.buses {
    margin-top: 30px;
    padding: 10px;


}

.busMap h2 {
    margin-top: 30px;
}

.busMap button {
    padding: 10px;
    border-radius: 8px;
}